.element {
	max-width: 1000px;
  margin: 20px auto;
  clear: both;
}

 .element p {
	font-size: 25px;
	word-spacing: 0.2em;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
 }

 .element img {
  width: 300px;
	float: left;
  margin: 0 20px 20px 0;
}

.element img.right {
  width: 250px;
	float: right;
  margin: 20px 0 20px 20px;
}
